<div class="resources-content">
<md-card mdTooltip="United Energy Capacity" class="parameter-card">
  <md-card-title>
  <button md-icon-button class="resource-icon"><i class="fa fa-bolt"></i></button>
  <md-progress-spinner
      [value]=resources.Energy>
  </md-progress-spinner>
</md-card-title>
</md-card>
<md-card mdTooltip="Our Space Fleet" class="parameter-card">
  <md-card-title>
  <button md-icon-button class="resource-icon"><i class="fa fa-rocket"></i></button>
  <md-progress-spinner
      [value]=resources.SpaceForces>
  </md-progress-spinner>
</md-card-title>
</md-card>
<md-card mdTooltip="Our Planetary Forces" class="parameter-card">
  <md-card-title>
  <button md-icon-button class="resource-icon"><i class="fa fa-fighter-jet"></i></button>
  <md-progress-spinner
      [value]=resources.GroundForces>
  </md-progress-spinner>
</md-card-title>
</md-card>
<md-card mdTooltip="How humans respect you" class="parameter-card">
  <md-card-title>
  <button md-icon-button class="resource-icon"><i class="fa fa-thumbs-up"></i></button>
  <md-progress-spinner
      [value]=resources.Respect>
  </md-progress-spinner>
</md-card-title>
</md-card>

<!-- <md-card mdTooltip="Our Space Fleet" class="parameter-card">
  <button md-icon-button alt=""><i class="fa fa-rocket"></i></button>
  <md-slider
    [vertical]=true
    [max]=100
    [min]=0
    [value]=resources.SpaceForces
    [step]=step>
  </md-slider>  
</md-card>
<md-card mdTooltip="Our Planetary Forces" class="parameter-card">
  <button md-icon-button alt=""><i class="fa fa-fighter-jet"></i></button>
  <md-slider
    [vertical]=true
    [max]=100
    [min]=0
    [value]=resources.GroundForces
    [step]=step>
  </md-slider>  
</md-card>
<md-card mdTooltip="How humans respect you" class="parameter-card">
    <button md-icon-button alt=""><i class="fa fa-thumbs-up"></i></button>
    <md-slider
      [vertical]=true
      [max]=100
      [min]=0
      [value]=resources.Respect
      [step]=step>
    </md-slider>  
  </md-card> -->
</div>