.resources-content{
    padding: 10px;
    text-align: center;
}
.parameter-card{
    display: inline-block;
    width: 100px;
    margin: 25px;
}
.resource-icon{
    position: absolute;
    top:50%;
    left: 50%;
    height: 50px;
    width:50px;
    margin-left: -25px;
    margin-top:-25px;
}