<md-sidenav-container class="sidenav-container">
    <md-sidenav #sidenav>
        <md-toolbar color="warn">
           <span>Welcome home, Holy Emperror</span>
         </md-toolbar>
      <!-- sidenav content -->
      <p>Ich bin deine automat...</p>
    </md-sidenav>
    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.open()">
          <i class="material-icons">menu</i>
        </button>
       <span>StoneLife</span>
     </md-toolbar>
    <div class="primary-content">
      <app-parameters></app-parameters>
      <app-action></app-action>
    </div>
   
  </md-sidenav-container>