/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
body{
    height: 100%;
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
    width: 100%;
}