<md-card class="action-card">
  <img md-card-image src="{{currentAction.Image}}">
  <md-card-content>
  <h1>{{currentAction.Name}}</h1>
  <p> {{currentAction.Description}} </p>
  <button md-raised-button color="primary" (click)=declineAction()>Decline</button>
  <button md-raised-button color="accent" (click)=confirmAction()>Accept</button>
</md-card-content>
</md-card>